.song-scroll {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    width: 250px;
    margin: 10px 0;
}

#audio-box{
    font-family: sans-serif;
    position:absolute;
    top: 85%;
    left: calc(50% - 175px);
    opacity: 1;
    border-radius: 10px;
    visibility: visible;
    /* display: none !important; */
}

.drag-drop{
    width: 400px;
    height: 150px;
    line-height: 30px;
    color: white;
    font-family: sans-serif;
    position: absolute;
    top: calc(60% - 75px);
    left: calc(50% - 200px);
    text-align: center;
    /* background: black; */
    opacity: 1.0;
    border-radius: 10px;
    visibility: visible;
    /* display: none !important; */
}

.title {
    width: 400px;
    height: 150px;
    line-height: 40px;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    position: absolute;
    top: calc(33% - 75px);
    left: calc(50% - 200px);
    text-align: center;
    /* background: black; */
    opacity: 1.0;
    border-radius: 10px;
    visibility: visible;
    /* display: none !important; */
}

.song-slider{
    width: 300px;
    margin: 0 10px;
}

.song-title{
    font-size: 11px;
}

.volume-slider{

}

#audio-box {
    width: 350px;
    background: #EEF3F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#audio-box audio {
    width: 100%;
    height: 50px;
}

.buttons{
    font-size: 24px;
    color: black;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.song-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.song-slider:hover {
    opacity: 1;
}

.song-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.song-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.volume-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.volume-slider:hover {
    opacity: 1;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.volume-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.buttons * {
    margin: 0 5px;
}

.right-side{
    position: absolute;
    right: 0;
    top: 40px;
    color: white;
    width: 200px;
}

.playlist-div *{
    padding: 15px 0;
}

.playlist{
    padding: 0;
    
}

.playlist > *{
    list-style: none;
    display: flex;
    padding: none;
    justify-content: center;
}
.nameSong{
    padding: 0;

}

.info{
    color: white;
}

.nameSong:hover{
    background: gray;
    cursor: pointer;
}

.pausetext {
    color: white;
}

